@model IPagedList<Blog>
@{
    ViewData["Title"] = ViewBag.CategoryName;
    Layout = "~/Views/Shared/_WithCodesLayout.cshtml";
}



<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>KATEGORİ</h4>
                        @if (ViewBag.CategoryName != null)
                        {
                            <h2>@ViewBag.CategoryName</h2>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-6">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="@item.ThumbnailImageUri" alt="@item.Title">
                                    </div>
                                    <div class="down-content">
                                        <span>@item.Category.Name</span>
                                        <a asp-controller="Blog" asp-action="Details" asp-route-slug="@item.Slug"><h4>@item.Title</h4></a>
                                        <ul class="post-info">
                                            <li><a asp-controller="Blog" asp-action="BlogByAuthorList" asp-route-authorName="@item.AppUser.UserName">@item.AppUser.NameSurname</a></li>
                                            <li><a href="#">@item.CreateDate.ToString("dd MMM yyyy")</a></li>
                                            <li><a href="#">@item.Comments.Count Yorum</a></li>
                                        </ul>
                                        <p>@item.ContentText.Substring(0,200)...</p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        @foreach (var hashtag in item.Hashtags)
                                                        {
                                                            <li><a asp-controller="Blog" asp-action="BlogByHashtagList" asp-route-hashtagName="@hashtag.Name">@hashtag.Name</a></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        <div class="col-lg-12">
                            <div class="align-self-center">@Html.PagedListPager((IPagedList ) Model, page => Url.Action("BlogByAuthorList", new {page})) </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <vc:search-blog></vc:search-blog>
                        <vc:recent-posts></vc:recent-posts>
                        <vc:category-list></vc:category-list>
                        <vc:author-list></vc:author-list>
                        <vc:hashtag-list></vc:hashtag-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
