@model IPagedList<Hashtag>
@{
    ViewData["Title"] = ViewBag.hashtagName;
    Layout = "~/Views/Shared/_WithCodesLayout.cshtml";
}

<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>HASHTAG</h4>
                        @if (ViewBag.hashtagName != null)
                        {
                            <h2>@ViewBag.hashtagName</h2>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-6">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="@item.Blog.ThumbnailImageUri" alt="@item.Blog.Title">
                                    </div>
                                    <div class="down-content">
                                        <span>@item.Blog.Category.Name</span>
                                        <a asp-controller="Blog" asp-action="Details" asp-route-slug="@item.Blog.Slug"><h4>@item.Blog.Title</h4></a>
                                        <ul class="post-info">
                                            <li><a asp-controller="Blog" asp-action="BlogByAuthorList" asp-route-authorName="@item.Blog.AppUser.UserName">@item.Blog.AppUser.NameSurname</a></li>
                                            <li><a href="#">@item.Blog.CreateDate.ToString("dd MMM yyyy")</a></li>
                                            <li><a href="#">@item.Blog.Comments.Count Yorum</a></li>
                                        </ul>
                                        <p>@item.Blog.ContentText.Substring(0, 200)...</p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        @foreach (var hashtag in Model)
                                                        {
                                                            <li><a asp-controller="Blog" asp-action="BlogByHashtagList" asp-route-hashtagName="@hashtag.Name">@hashtag.Name</a></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        }

                        <div class="col-lg-12">
                            <div class="align-self-center">@Html.PagedListPager((IPagedList ) Model, page => Url.Action("BlogByHashtagList", new {page})) </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" name="gs" method="GET" action="#">
                                    <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                                </form>
                            </div>
                        </div>
                        <vc:recent-posts></vc:recent-posts>
                        <vc:category-list></vc:category-list>
                        <vc:author-list></vc:author-list>
                        <vc:hashtag-list></vc:hashtag-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

