@model Blog
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_WithCodesLayout.cshtml";
}


<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>@Model.Category.Name</h4>
                        <h2>@Model.Title</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="@Model.ImageUri" alt="@Model.Title">
                                </div>
                                <div class="down-content">
                                    <span>@Model.Category.Name</span>
                                    <a><h4>@Model.Title</h4></a>
                                    <ul class="post-info">
                                        <li><a asp-controller="Blog" asp-action="BlogByAuthorList" asp-route-authorName="@Model.AppUser.UserName">@Model.AppUser.NameSurname</a></li>
                                        <li><a href="#">@Model.CreateDate.ToString("dd MMM yyyy")</a></li>
                                        <li><a href="#">@Model.Comments.Count Yorum</a></li>
                                    </ul>
                                    <p>

                                        @Model.ContentText

                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <vc:comment-list slug="@Model.Slug"></vc:comment-list>
                        <vc:comment-add id="Model.Id"></vc:comment-add>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <vc:search-blog></vc:search-blog>
                       <vc:recent-posts></vc:recent-posts>
                        <vc:category-list></vc:category-list>
                        <vc:author-list></vc:author-list>
                        <vc:hashtag-list></vc:hashtag-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
