@model List<Blog>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WithCodesLayout.cshtml";
}

<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            @foreach (var item in Model.Take(6))
            {
                <div class="item">
                    <img src="@item.ThumbnailImageUri" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <a href="/blog/details/@item.Id"><h4> <span>@item.Title</span></h4></a>
                            </div>
                            <ul class="post-info">
                                <li><a href="#">@item.AppUser.NameSurname</a></li>
                                <li><a href="#">@item.CreateDate.ToString("dd MMM yyyy")</a></li>
                                <li><a href="#">@item.Category.Name</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">

                        @foreach (var item in Model.Take(3))
                        {
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="@item.ImageUri" alt="">
                                    </div>
                                    <div class="down-content">
                                        <a href="/blog/details/@item.Id"><h4><span>@item.Title</span></h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">@item.AppUser.NameSurname</a></li>
                                            <li><a href="#">@item.CreateDate.ToString("dd MMM yyyy")</a></li>
                                            <li><a href="#">@item.Category.Name</a></li>
                                        </ul>
                                        <p> @item.ContentText.Substring(0,300)...</p>

                                    </div>
                                </div>
                            </div>
                        }



                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="/Blog/AllBlog/">Tüm yazıları görüntüle</a>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" name="gs" method="GET" action="#">
                                    <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                                </form>
                            </div>
                        </div> @*// Search *@
                        <vc:recent-posts></vc:recent-posts> @*// Son yazılar*@
                        <vc:category-list></vc:category-list> @* Kategori Listesi*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




