@model IPagedList<Contact>

@{
    ViewData["Title"] = "Mesajlar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Gelen Kutusu</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Mesajlar</a></li>
                    <li class="breadcrumb-item active">Gelen Kutusu</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <!-- /.col -->
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Gelen Kutusu</h3>

                    <div class="card-tools">
                        <form asp-area="Admin" asp-controller="Message" asp-action="Index" method="post">
                            <div class="input-group input-group-sm">
                                <input type="text" name="search" class="form-control" placeholder="Mail Ara">
                                <div class="input-group-append">
                                    <div class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">

                    <form asp-area="Admin" asp-controller="Message" asp-action="Delete" method="post">
                        @Html.AntiForgeryToken()
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                <i class="far fa-square"></i>
                            </button>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-default btn-sm">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </div>
                            <!-- /.btn-group -->
                            <!-- /.float-right -->
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="icheck-primary">
                                                    <input type="checkbox" value="@item.Id" id="@item.Id" name="selectedIds[]">
                                                    <label for="@item.Id"></label>
                                                </div>
                                            </td>
                                            <td class="mailbox-name"><a asp-controller="Message" asp-action="ReadMessage" asp-route-id="@item.Id">@item.FullName</a></td>
                                            <td class="mailbox-subject">
                                                <b>@item.Subject</b> - @(item?.Message.Length >= 30 ? item.Message.Substring(0, 30) : item.Message)...
                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <td class="mailbox-date">@item.SendingDate.ToString("dd MMM yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                    </form>

                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <div class="float-right">
        @Html.PagedListPager((IPagedList<Contact>)Model, page => Url.Action("Index","Message", new {page}))
    </div>
    <!-- /.row -->
</section>

<!-- /.content -->
@section Scripts
    {

    <script src="~/adminpanel/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        var startValue = "@((string)TempData["Durum"])";
        if (startValue != null && startValue != "") {
            swal.fire("Başarılı!", "@TempData["Durum"]", "success");
        }
    </script>

    <script>
        $(function () {
            //Enable check and uncheck all functionality
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    //Uncheck all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                } else {
                    //Check all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })

            //Handle starring for font awesome
            $('.mailbox-star').click(function (e) {
                e.preventDefault()
                //detect type
                var $this = $(this).find('a > i')
                var fa = $this.hasClass('fa')

                //Switch states
                if (fa) {
                    $this.toggleClass('fa-star')
                    $this.toggleClass('fa-star-o')
                }
            })
        });
    </script>
}
