@model IPagedList<Notification>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Gelen Bildirimler</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Bildirimler</a></li>
                    <li class="breadcrumb-item active">Gelen Bildirimler</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>

                        <div class="card-tools">
                            <div class="align-self-center">@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new {page}))  </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Konu</th>
                                    <th class="text-center">İçerik</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Title</td>

                                        <td class="text-center">
                                            @item.ContentText
                                        </td>
                                       <td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
        </div>
    </div>
</section>
@section Scripts
{

    <script src="~/adminpanel/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        var startValue = "@((string)TempData["Alert"])";
        if (startValue != null && startValue != "") {
            swal.fire("Başarılı!", "@TempData["Alert"]", "success");
            swal.fire("Başarılı!", "@TempData["Alert"]", "success");
        }
    </script>

}

